<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on NLog configuration, visit http://nlog-project.org/ -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="USICRMInfo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="webapi">
      <section name="tracing" type="Api.Nmma.Configuration.TracingSection" />
      <section name="clientAuthentication" type="Api.Nmma.Configuration.ClientAuthenticationSection" />
      <section name="customreasonphrase" type="Api.Nmma.Configuration.CustomReasonPhraseSection" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <clear />
    <!-- UAT -->
    <!-- <add name="UsiContext" connectionString="metadata=res://*/EDMs.UsiEDM.csdl|res://*/EDMs.UsiEDM.ssdl|res://*/EDMs.UsiEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nmmasql6.nmma.org\nmmausi;initial catalog=USINMMAUAT;persist security info=True;user id=webapps;password=Nmma201314;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- Training -->
    <!-- <add name="UsiContext" connectionString="metadata=res://*/EDMs.UsiEDM.csdl|res://*/EDMs.UsiEDM.ssdl|res://*/EDMs.UsiEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nmmasql6.nmma.org\nmmausi;initial catalog=USINMMATRAIN;persist security info=True;user id=webapps;password=Nmma201314;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- Test -->
    <add name="UsiContext" connectionString="metadata=res://Nmma.Data.BackOffice/EDMs.UsiEDM.csdl|res://Nmma.Data.BackOffice/EDMs.UsiEDM.ssdl|res://Nmma.Data.BackOffice/EDMs.UsiEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nmmasql6.nmma.org\nmmausi;initial catalog=USINMMATST;persist security info=True;user id=webapps;password=Nmma201314;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Api.Nmma-20180322102915;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Api.Nmma-20180322102915.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="USISDKAPIURI" value="https://api.ungerboeck.com" />
    <add key="NMMAURI" value="https://usitest.nmma.org" />
    <add key="USIUSER" value="USIAPI" />
    <add key="USIPASWD" value="UsiApiNmma@016" />
    <add key="USIAPIPASSCODE" value="USI1" />

    <!-- USI AuthenticationService Keys -->
    <add key="USI.AuthSvc.Version" value="20.9" />   <!-- {"", "20.9"} -->
    <add key="USI.AuthSvc.V20Url" value="https://usiuat.nmma.org" />
    <add key="USI.AuthSvc.SecretKey" value="e3jiSRGq3soYeZuQ7bWx1CKA1sYIRcknrDI5" />
    <add key="USI.AuthSvc.EncryptionKey" value="tCcknsfdtn8Vabub" />
  </appSettings>
  <!-- Production-->
  <!--<appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="USISDKAPIURI" value="https://api.ungerboeck.com"/>
    <add key="NMMAURI" value="https://usi.nmma.org"/>
    <add key="USIUSER" value="USIAPI"/>
    <add key="USIPASWD" value="UsiApiNmma@016"/>
    <add key="USIAPIPASSCODE" value="USI1"/>
        
    <add key="USI.AuthSvc.Version" value="20.9" /> 
    <add key="USI.AuthSvc.V20Url" value="https://usi.nmma.org" />
    <add key="USI.AuthSvc.SecretKey" value="7ulMHCEVoljboz8Dzng0S89JE9ZlBu73es3K" />
    <add key="USI.AuthSvc.EncryptionKey" value="4ntrTeZ8fDv2XQdO" />
  </appSettings>-->
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" />
    <!--<httpRuntime targetFramework="4.5" />-->
    <!--The target framework above caused a compatibility mode issue between this application and nmma.org. Therefore, the reference was removed so that this app can decrypt the shared cookie created in nmma.org. http://stackoverflow.com/questions/14927941/sharing-a-cookie-between-two-websites-on-the-same-domain
    -->
    <httpCookies httpOnlyCookies="true" lockItem="true" />
    <!-- authentication mode="None" / -->
    <!--<machineKey validationKey="BD52058A3DEA473EA99F29418689528A494DF2B00054BB7C" decryptionKey="684FC9301F404DE1B9565E7D952005579E823307BED44885" />-->
    <machineKey validationKey="269477003E9BDC11769B474CDCCAA075B1F0A35BF1358F724D8D9A92F1CE51356428D87C82C9C2D5922ACAAC0EF9D18185E853541B1C1412022D6F749F672E23" decryptionKey="D90948497F76421AE46870A443265A71D10BA18A9BB446846F31CB0B6D08B480" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP1" />
    <authentication mode="Windows">
      <forms name="NmmaCookie" timeout="20160" domain="nmma.org">
      </forms>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="Views/Home/Index.cshtml" />
            </files>
        </defaultDocument></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <!--<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />-->
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <USICRMInfo.My.MySettings>
      <setting name="TemplateUSIAccountCode" serializeAs="String">
        <value>00019176</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <!-- Test -->
        <!-- <value>Data Source=nmmasql6\nmmausi;Initial Catalog=usinmmatst;User id=webapps;password=Nmma201314;</value> -->
        <!-- UAT -->
        <value>Data Source=nmmasql6\nmmausi;Initial Catalog=usinmmauat;User id=webapps;password=Nmma201314;</value>
        <!-- PROD -->
        <!--<value>Data Source=nmmasql7\nmmausipro;Initial Catalog=usinmmaprod;User id=webapps;password=Nmma201314;</value>-->
      </setting>
      <setting name="PortalDomain" serializeAs="String">
        <value>iebmsdev.nmma.org</value>
      </setting>
    </USICRMInfo.My.MySettings>
  </applicationSettings>
  <webapi>
    <customreasonphrase mode="On" />
    <clientAuthentication mode="On" checkDomain="true" checkIP="false" />
    <tracing mode="Off" />
  </webapi>
  <!-- For more information on NLog configuration, visit http://nlog-project.org/ -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/" />
    <targets>
      <target name="debug-logfile" xsi:type="File" fileName="${logDirectory}debug/${shortdate}-webapi.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="error-logfile" xsi:type="File" fileName="${logDirectory}error/${shortdate}-webapi.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="fatal-logfile" xsi:type="File" fileName="${logDirectory}fatal/${shortdate}-webapi.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" />
      <target name="info-logfile" xsi:type="File" fileName="${logDirectory}info/${shortdate}-webapi.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="warn-logfile" xsi:type="File" fileName="${logDirectory}warn/${shortdate}-webapi.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="fatal-email" xsi:type="Mail" html="false" addNewLines="true" encoding="UTF-8" subject="Web API" to="dmarin@nmma.org" from="webmaster@nmma.org" body="${message}" useSystemNetMailSettings="true" />
      <!-- <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="My Web API Application" /> -->
    </targets>
    <rules>
      <logger name="*" level="Debug" writeTo="debug-logfile" />
      <logger name="*" level="Error" writeTo="error-logfile" />
      <logger name="*" level="Fatal" writeTo="fatal-logfile,fatal-email" />
      <logger name="*" level="Info" writeTo="info-logfile" />
      <logger name="*" level="Warn" writeTo="warn-logfile" />
    </rules>
  </nlog>
  <system.net>
    <mailSettings>
      <smtp from="webmaster@nmma.org" deliveryMethod="Network">
        <network host="lists.web.nmma.org" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>