<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
     <!--PRODUCTION CREDENTIALS-->
    <!--<add key="ConcurOAuthServer" value="https://us.api.concursolutions.com/oauth2/v0/token"/>
    <add key="ConcurClientID" value="8bdaced3-4f76-45bf-aa5e-e60beea01433"/>
    <add key="ConcurClientSecret" value="5cb3ecb3-f579-41cc-83fd-fda3905edcdb"/>
    <add key="ConcurRefreshToken" value="83876da6-a55e-494f-b47e-4c2b430d51c5"/>
    <add key="ExtractJobID" value="gWoQKMSXz3mtoHV1s4X0DS36uXQGduRpYWA"/>-->
    <add key="ConcurOAuthServer" value="https://us-impl.api.concursolutions.com/oauth2/v0/token"/>
    <add key="ConcurClientID" value="bc91887d-8a88-434e-9d4b-a07f1138c4ea"/>
    <add key="ConcurClientSecret" value="54ea899e-fab2-400c-8757-832b7c2963ee"/>
    <add key="ConcurRefreshToken" value="f49f4f94-51a5-44aa-a011-a14deb625a35"/>
    <add key="ConcurUserID" value="WSAdmin@nmma.org"/>
    <add key="ConcurPassword" value="Welcome1"/>
    <add key="SSISConnectionString" value="Data Source=NmmaSQL7\NmmaUSIPro;Initial Catalog=master;Integrated Security=SSPI;"/>
    <add key="LogPath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Invoices\log\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="VendorInvoice.ConcurExtractURL" value="https://www.concursolutions.com/api/expense/extract/v1.0"/>
    <add key="VendorInvoice.ExtractJobName" value="Standard Payment Request Accounting Extract v2.7 (ONP)"/>
    <add key="VendorInvoice.ExtractFilePath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Invoices\Prod\"/>
    <add key="VendorInvoice.ExtractFileString" value="extract_payment_gl"/>
    <add key="VendorInvoice.LogPath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Invoices\Prod\log\"/>
    <add key="VendorInvoice.SSISJob" value="Process Concur Invoice Files PROD"/>
    <add key="VendorInvoice.SSISJobStep" value="Process Concur File"/>

    <add key="PaymentBatch.ConcurExtractURL" value="https://www.concursolutions.com/api/expense/extract/v1.0"/>
    <add key="PaymentBatch.ExtractJobName" value="Invoice Payment Confirmation v1.2"/>
    <add key="PaymentBatch.ExtractFilePath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Payments\Prod\"/>
    <add key="PaymentBatch.ExtractFileString" value="Invoice_Payment_Confirmation"/>
    <add key="PaymentBatch.LogPath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Payments\Prod\log\"/>
    <add key="PaymentBatch.SSISJob" value="Process Concur Payment Files PROD"/>
    <add key="PaymentBatch.SSISJobStep" value="Process Concur File"/>

    <!--<add key="VendorInvoice.ConcurExtractURL" value="https://www.concursolutions.com/api/expense/extract/v1.0"/>
    <add key="VendorInvoice.ExtractJobName" value="Standard Payment Request Accounting Extract v2.7 (ONP)"/>
    <add key="VendorInvoice.ExtractFilePath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Invoices\Prod\"/>
    <add key="VendorInvoice.ExtractFileString" value="extract_payment_gl"/>
    <add key="VendorInvoice.LogPath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Vendor Invoices\log\"/>
    <add key="VendorInvoice.SSISJob" value="Process Concur Invoice Files PROD"/>
    <add key="VendorInvoice.SSISJobStep" value="Process Concur File"/>

    <add key="PaymentBatch.ConcurExtractURL" value="https://www.concursolutions.com/api/expense/extract/v1.0"/>
    <add key="PaymentBatch.ExtractJobName" value="Invoice Payment Confirmation v1.2"/>
    <add key="PaymentBatch.ExtractFilePath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Payments\Prod\"/>
    <add key="PaymentBatch.ExtractFileString" value="extract_payment_gl"/>
    <add key="PaymentBatch.LogPath" value="\\nmmachfp1\NewShared\NMMA Departments\Accounting\General\Accounts Payable\Concur\Payments\log\"/>
    <add key="PaymentBatch.SSISJob" value="Process Concur Payment Files PROD"/>
    <add key="PaymentBatch.SSISJobStep" value="Process Concur File"/>-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
